<div class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Clients</h4>
      </div>
      <div class="modal-body">

        <form class="form" role="form">
          <div class="form-group scrollable-dropdown-menu has-feedback">
            <label for="{{viewId}}">Select clients</label>
            <input type="text" class="form-control typeahead" id="{{viewId}}" placeholder="Client id or name">
            <span class="glyphicon glyphicon-plus form-control-feedback add-client"></span>
            <span class="help-block hidden">Invalid client id</span>
          </div>
          <div class="selectedClients">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary apply">Apply</button>
      </div>
    </div>
  </div>
</div>