/* global style */
.btn-primary {
  font-weight: bold;
  background-image: linear-gradient(to bottom, #737373 1%, #4d4d4d 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#737373', endColorstr='#4d4d4d', GradientType=0);
}
.btn-primary:hover, .btn-primary:active {
  background: #c60c30;
  background: linear-gradient(to bottom, #ee1452 1%, #c60c30 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ee1452', endColorstr='#c60c30', GradientType=0);
  border: 1px solid #c60c30;
}

/* dashboard specific */
.dashboard {
  padding-left: 0px;
  padding-right: 0px;
}
.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}
.twitter-typeahead {
  display: block !important;
}
.user-list {
  border: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 0;
}
.user-list>ul {
  margin-bottom: 0;
  padding-left: 0;
}
.user-list>ul>li {
  display: inline-table;
  padding-right: 3px;
  padding-bottom: 3px;
}
.group-by .dropdown-menu {
  min-width: 180px;
}
.notifications {
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 9999;
}
.notifications .alert {
  position: relative;
  margin: 5px 0px;
}
.notifications .close {
  margin-left: 15px;
}

/* fixed widths (non-IE) */
td.report-name {
  min-width: 50px;
  max-width: 160px;
}
td.report-category,
td.report-type {
  min-width: 50px;
  max-width: 100px;
}
td.report-owner,
td.created-by,
td.modified-by {
  min-width: 50px;
  max-width: 80px;
}
td.distribution-list {
  min-width: 50px;
  max-width: 110px;
}

/* hacking it out, based on mockup */
.dashboard-container {
  padding: 10px;
  background-color: #e7e7e7;
}
.menu {
  border: 1px solid #b3b3b3;
  /*border-bottom: 0; - why? */
  padding: 5px;
  background-color: #bcbcbc;
  background-image: linear-gradient(to bottom, #d5d5d5 1%, #b3b3b3 100%);
}
.schedules .table {
  margin-bottom: 0px;
}
.schedules .table > thead {
  background-color: #ccc;
}
/*
need hover with icon change too
.table > thead:hover {
  background-color: #e1e1e1;
}*/
.schedules .table > thead > tr > th {
  padding-top: 1px;
  padding-bottom: 1px;
}
.pagination {
  margin: 0;
}
.schedules {
  margin-top: 5px;
  border: 1px solid #b3b3b3;
}
.page {
  padding: 5px 5px 0;
}