.schedules .table > tbody > tr > td.report-name {
  width: 150px;
}
.schedules .table > tbody > tr > td.report-category,
.schedules .table > tbody > tr > td.report-type {
  width: 90px;
}
.schedules .table > tbody > tr > td.report-owner,
.schedules .table > tbody > tr > td.created-by,
.schedules .table > tbody > tr > td.modified-by {
  width: 80px;
}
.schedules .table > tbody > tr > td.distribution-list {
  width: 100px;
}
