<div class="modal fade" id="groupByModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Group by</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="groupBy" class="col-sm-4 control-label">Group by</label>
            <div class="col-sm-6">
              <select class="form-control" id="groupBy">
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;Apply</button>
        </button>
        <button type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>
