<label for="{{viewId}}" class="col-xs-12 col-sm-4 control-label">{{title}}</label>
<div class="col-xs-6 col-sm-8 col-md-4">
  <div class="input-group date from">
    <input id="{{viewId}}" type="text" class="form-control" placeholder="From date">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-calendar"></span>
      </button>
    </span>
  </div>
</div>
<div class="col-xs-6 col-sm-8 col-md-4">
  <div class="input-group date to">
    <input type="text" class="form-control" placeholder="To date">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-calendar"></span>
      </button>
    </span>
  </div>
</div>
<div class="col-sm-4"></div>
<div class="col-sm-8">
  <span class="help-block hidden"></span>
</div>
