<div class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <form class="form-horizontal" role="form">
                <!-- left col -->
                <div class="col-sm-6">
                  <div class="form-group report-name"></div>
                  <div class="form-group report-type"></div>
                  <div class="form-group report-owner"></div>
                  <div class="form-group created-by"></div>
                  <div class="form-group modified-by"></div>
                </div>
                <!-- left col -->
                <!-- right col -->
                <div class="col-sm-6">
                  <div class="form-group distribution-list"></div>
                  <div class="form-group frequency"></div>
                  <div class="form-group trigger"></div>
                  <div class="form-group distribution-format"></div>
                  <div class="form-group last-execution"></div>
                  <div class="form-group report-expiry"></div>
                </div>
                <!-- right col -->
              </form>
            </div>
            <!-- row -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary apply">
          <span class="glyphicon glyphicon-ok"></span>&nbsp;Apply</button>
        <button type="button" class="btn btn-primary cancel">
          <span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</button>
      </div>
    </div>
  </div>
</div>