<div class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Filters</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <form class="form-horizontal" role="form">
                <!-- left col -->
                <div class="col-sm-6">
                  <div class="form-group reportNameFilter">
                  </div>
                  <div class="form-group reportTypeFilter">
                  </div>
                  <div class="form-group reportOwnerFilter">
                  </div>
                  <div class="form-group createdByFilter">
                  </div>
                  <div class="form-group modifiedByFilter">
                  </div>
                  <div class="form-group clientsFilter">
                  </div>
                </div>
                <!-- left col -->

                <!-- right col -->
                <div class="col-sm-6">
                  <div class="form-group frequencyFilter">
                  </div>
                  <div class="form-group triggerFilter">
                  </div>

                  <div class="form-group distributionListFilter">
                  </div>
                  <div class="form-group distributionFormatFilter">
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-xs-12 col-sm-4 control-label">Last execution</label>
                    <div class="col-xs-6 col-sm-8 col-md-4">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-4">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail3" class="col-xs-12 col-sm-4 control-label">Report expiry</label>
                    <div class="col-xs-6 col-sm-8 col-md-4">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-4">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- right col -->

              </form>
            </div>
            <!-- row -->
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default apply">Apply</button>
        <button type="button" class="btn btn-link cancel">Cancel</button>
      </div>
    </div>
  </div>
