<div class="text-right">
  <ul class="pagination">
    <li class="page-info"><span>{{currentPage}} of {{totalPages}}</span></li>
    <li class="first-page"><span><span class="glyphicon glyphicon-step-backward"></span></span></li>
    <li class="previous-page-set"><span><span class="glyphicon glyphicon-backward"></span></span></li>
    {{#each pages}}
      <li id="page{{this}}"><span class="select-page" data-page="{{this}}">{{this}}</span></li>
    {{/each}}
    <li class="next-page-set"><span><span class="glyphicon glyphicon-forward"></span></span></li>
    <li class="last-page"><span><span class="glyphicon glyphicon-step-forward"></span></span></li>
  </ul>
</div>
