<div class="modal fade criteria" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Report Criteria</h4>
      </div>
      <div class="modal-body">
        <div>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody class="report-criteria-body"></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancel exit">Close</button>
      </div>
    </div>
  </div>
</div>