<td colspan="13" style="padding: 0px;">
  <div class="collapse detail{{id}}">
    <div style="margin: 5px;">
      <div class="btn-toolbar .pull-right">
        <div class="btn-group">
          <button class="btn btn-primary view-criteria">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;View criteria</button>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary download {{#if isDownloadDisabled}} disabled {{/if}}">
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download</button>
          </button>
        </div>
        {{#if isRunNowEnabled}}
        <div class="btn-group">
          <button class="btn btn-primary run-schedule">
            <span class="glyphicon glyphicon-flash"></span>&nbsp;Run now</button>
          </button>
        </div>
        {{/if}}
        {{#if isEditEnabled}}
        <div class="btn-group">
          <button class="btn btn-primary edit">
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
          </button>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</td>
