<td colspan="13" style="padding: 0px;">
  <div class="collapse detail{{id}}">
    <div style="margin: 5px;">
      <div class="btn-toolbar .pull-right">
        <div class="btn-group">
          <button class="btn btn-primary edit {{#if isEditDisabled}} disabled {{/if}}">
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary run-schedule {{#if isRunNowDisabled}} disabled {{/if}}">
            <span class="glyphicon glyphicon-flash"></span>&nbsp;Run now</button>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary view-criteria">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;View criteria</button>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary download {{#if isDownloadDisabled}} disabled {{/if}}">
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download</button>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary share {{#if isShareDisabled}} disabled {{/if}}">
            <span class="glyphicon glyphicon-share"></span>&nbsp;Share</button>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary transfer {{#if isTransferDisabled}} disabled {{/if}}">
            <span class="glyphicon glyphicon-transfer"></span>&nbsp;Transfer</button>
          </button>
        </div>
      </div>
    </div>
  </div>
</td>
