<td class="report-name">
  <div class="truncate" data-toggle="tooltip" title="{{reportName}}">{{reportName}}</div>
</td>
<td class="report-category">
  <div class="truncate" data-toggle="tooltip" title="{{reportCategory}}">{{reportCategory}}</div>
</td>
<td class="report-type">
  <div class="truncate" data-toggle="tooltip" title="{{reportType}}">{{reportType}}</div>
</td>
<td class="report-owner">
  <div class="truncate" data-toggle="tooltip" title="{{reportOwnerName}} ({{reportOwnerId}})">{{reportOwnerName}}</div>
</td>
<td class="created-by">
  <div class="truncate" data-toggle="tooltip" title="{{createdByName}} ({{createdById}})">{{createdByName}}</div>
</td>
<td class="modified-by">
  <div class="truncate" data-toggle="tooltip" title="{{modifiedByName}} ({{modifiedById}})">{{modifiedByName}}</div>
</td>
<td>
  <div class="label label-default">{{frequency}}</div>
</td>
<td class="text-center">
  {{#if timeTrigger}}
  <span data-toggle="tooltip" title="{{trigger}}" class="glyphicon glyphicon-time"></span>
  {{else}}
  <span data-toggle="tooltip" title="{{trigger}}" class="glyphicon glyphicon-flash"></span>
  {{/if}}
</td>
<td class="distribution-list">
  <div class="truncate" data-toggle="tooltip" title="{{distributionList}}">{{distributionList}}</div>
</td>
<td>
  <div class="truncate" data-toggle="tooltip" title="{{lastExecution}}">{{timeago}}</div>
</td>
<td class="text-center">
  {{#each deliveryOptions}} {{#if ATTACHMENT}}
  <span data-toggle="tooltip" title="{{delivery}}" class="glyphicon glyphicon-paperclip"></span>
  {{/if}} {{#if URL}}
  <span data-toggle="tooltip" title="{{delivery}}" class="glyphicon glyphicon-link"></span>
  {{/if}} {{#if FTP}}
  <span data-toggle="tooltip" title="{{delivery}}" class="glyphicon glyphicon-transfer"></span>
  {{/if}} {{/each}}
</td>
{{#if isClientColumnVisible}}
<td class="client">
  <div class="truncate" data-toggle="tooltip" title="{{clientName}}">{{clientId}}</div>
</td>
{{/if}}
<td>
  <div class="truncate" data-toggle="tooltip" title="{{reportExpiry}}">{{expiry}}</div>
</td>
